@import url(http://fonts.googleapis.com/css?family=Lato:300,400,700);
@font-face {
	font-family: 'codropsicons';
	src:url('../fonts/codropsicons/codropsicons.eot');
	src:url('../fonts/codropsicons/codropsicons.eot?#iefix') format('embedded-opentype'),
		url('../fonts/codropsicons/codropsicons.woff') format('woff'),
		url('../fonts/codropsicons/codropsicons.ttf') format('truetype'),
		url('../fonts/codropsicons/codropsicons.svg#codropsicons') format('svg');
	font-weight: normal;
	font-style: normal;
}

@font-face {
  font-family: 'overpass-thin';
  src: url('../fonts/overpass/overpass-thin.eot'); /* IE9 Compat Modes */
  src: url('../fonts/overpass/overpass-thin.eot?#iefix') format('embedded-opentype'), /* IE6-IE8 */
	       url('../fonts/overpass/overpass-thin.woff2') format('woff2'), /* Super Modern Browsers */
	       url('../fonts/overpass/overpass-thin.woff') format('woff'), /* Pretty Modern Browsers */
	       url('../fonts/overpass/overpass-thin.ttf')  format('truetype'); /* Safari, Android, iOS */
       font-weight: 200;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-thin-italic';
  src: url('../fonts/overpass/overpass-thin-italic.eot');
  src: url('../fonts/overpass/overpass-thin-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-thin-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-thin-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-thin-italic.ttf')  format('truetype');
       font-weight: 200;
       font-style: italic;
}


@font-face {
  font-family: 'overpass-extralight';
  src: url('../fonts/overpass/overpass-extralight.eot');
  src: url('../fonts/overpass/overpass-extralight.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-extralight.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-extralight.woff') format('woff'),
	       url('../fonts/overpass/overpass-extralight.ttf')  format('truetype');
       font-weight: 300;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-extralight-italic';
  src: url('../fonts/overpass/overpass-extralight-italic.eot');
  src: url('../fonts/overpass/overpass-extralight-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-extralight-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-extralight-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-extralight-italic.ttf')  format('truetype');
       font-weight: 300;
       font-style: italic;
}



@font-face {
  font-family: 'overpass-light';
  src: url('../fonts/overpass/overpass-light.eot');
  src: url('../fonts/overpass/overpass-light.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-light.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-light.woff') format('woff'),
	       url('../fonts/overpass/overpass-light.ttf')  format('truetype');
       font-weight: 400;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-light-italic';
  src: url('../fonts/overpass/overpass-light-italic.eot');
  src: url('../fonts/overpass/overpass-light-italic.eot?#iefix') format('embedded-opentype'),
	       url('./fonts/overpass/overpass-light-italic.woff2') format('woff2'),
	       url('./fonts/overpass/overpass-light-italic.woff') format('woff'),
	       url('./fonts/overpass/overpass-light-italic.ttf')  format('truetype');
       font-weight: 400;
       font-style: italic;
}



@font-face {
  font-family: 'overpass-regular';
  src: url('../fonts/overpass/overpass-regular.eot');
  src: url('../fonts/overpass/overpass-regular.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-regular.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-regular.woff') format('woff'),
	       url('../fonts/overpass/overpass-regular.ttf')  format('truetype');
       font-weight: 500;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-italic';
  src: url('../fonts/overpass/overpass-italic.eot');
  src: url('../fonts/overpass/overpass-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-italic.ttf')  format('truetype');
       font-weight: 500;
       font-style: italic;
}

@font-face {
  font-family: 'overpass-semibold';
  src: url('../fonts/overpass/overpass-semibold.eot');
  src: url('../fonts/overpass/overpass-semibold.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-semibold.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-semibold.woff') format('woff'),
	       url('../fonts/overpass/overpass-semibold.ttf')  format('truetype');
       font-weight: 600;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-semibold-italic';
  src: url('../fonts/overpass/overpass-semibold-italic.eot');
  src: url('../fonts/overpass/overpass-semibold-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-semibold-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-semibold-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-semibold-italic.ttf')  format('truetype');
       font-weight: 600;
       font-style: italic;
}

@font-face {
  font-family: 'overpass-bold';
  src: url('../fonts/overpass/overpass-bold.eot');
  src: url('../fonts/overpass/overpass-bold.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-bold.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-bold.woff') format('woff'),
	       url('../fonts/overpass/overpass-bold.ttf')  format('truetype');
       font-weight: 700;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-bold-italic';
  src: url('../fonts/overpass/overpass-bold-italic.eot');
  src: url('../fonts/overpass/overpass-bold-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-bold-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-bold-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-bold-italic.ttf')  format('truetype');
       font-weight: 700;
       font-style: italic;
}



@font-face {
  font-family: 'overpass-extrabold';
  src: url('../fonts/overpass/overpass-extrabold.eot');
  src: url('../fonts/overpass/overpass-extrabold.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-extrabold.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-extrabold.woff') format('woff'),
	       url('../fonts/overpass/overpass-extrabold.ttf')  format('truetype');
       font-weight: 800;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-extrabold-italic';
  src: url('../fonts/overpass/overpass-extrabold-italic.eot');
  src: url('../fonts/overpass/overpass-extrabold-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-extrabold-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-extrabold-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-extrabold-italic.ttf')  format('truetype');
       font-weight: 800;
       font-style: italic;
}


@font-face {
  font-family: 'overpass-heavy';
  src: url('../fonts/overpass/overpass-heavy.eot');
  src: url('../fonts/overpass/overpass-heavy.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-heavy.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-heavy.woff') format('woff'),
	       url('../fonts/overpass/overpass-heavy.ttf')  format('truetype');
       font-weight: 900;
       font-style: normal;
}

@font-face {
  font-family: 'overpass-heavy-italic';
  src: url('../fonts/overpass/overpass-heavy-italic.eot');
  src: url('../fonts/overpass/overpass-heavy-italic.eot?#iefix') format('embedded-opentype'),
	       url('../fonts/overpass/overpass-heavy-italic.woff2') format('woff2'),
	       url('../fonts/overpass/overpass-heavy-italic.woff') format('woff'),
	       url('../fonts/overpass/overpass-heavy-italic.ttf')  format('truetype');
       font-weight: 900;
       font-style: italic;
}


body {
	background: #34495e;
	font-family: 'overpass-regular';
	font: '../fonts/overpass'
	color:'white';
}

th {
    padding: 5px 10px;
    font-weight: normal!important;
    border:1px solid white; 
}

table {
    border: none!important;
}

.indexpage {
	color: 'white';
	font-family: 'overpass-regular';
}

.container > header,
.codrops-top {
	color: #fff;
	font-family: 'Lato', Arial, sans-serif;
}

.container > header {
	margin: 0 auto;
	padding: 12em 2em;
	padding-left: 370px;
	background: rgba(0,0,0,0.05);
}

.container > header a {
	color: #566473;
	text-decoration: none;
	outline: none;
}

.container > header a:hover {
	color: #4f7bab;
}

.container > header h1 {
	font-size: 3.2em;
	line-height: 1.3;
	margin: 0;
	font-weight: 300;
}

.container > header span {
	display: block;
	font-size: 55%;
	color: #74818e;
	padding: 0 0 0.6em 0.1em;
}

.schedule-table {
	color:white;
	font-size:1.1em;
	font-family:"overpass-regular";
	font:"./fonts/overpass/overpass-regular.ttf"
	font-style: normal;
	border-spacing:5px;
	border-collapse: collapse;
        vertical-align:middle;
}

.schedule-table, tr td {
	border:1px dotted white;
	padding:5px;
	background-color:#34495e;
	text-align: center;
}

table.schedule-table, td:hover{
	background-color:gray;
        vertical-align:middle;
}

.schedule-table, th {
	font-size:1.2em;
	border:2px solid white;
	background-color:#34495e;
}

.schedule-table .schedule-channel-favicon {
	max-height: 50px;
	width: auto;
}

.schedule-table a:hover {
	color:#f4ff96!important;
	font-family:"overpass-regular";
}

.schedule-table .now-playing-highlight-me {
    background-color: #333;
    color: #f4ff96!important;
}

.main-container {
	margin-top: 60px;
}

.gn-menu-main > li {

    background: white;
}

.schedule-table a:link { 
        color:white;
}

.schedule-table a:active { 
        color:white;
}

.schedule-table a:visited { 
        color:white;
}

.schedule-title {
	text-align:left;
	color:white;
}

.dripdrop {
	line-height: 1.5;
	text-decoration: none;
	display: inline-block;
	color: white;
	line-height: 1.2;
	font-size: 0.8em;
}

.dripdrop-title {
	text-transform:uppercase;
	font-family:overpass-heavy;
	text-decoration:underline;
}

.dripdrop-header {
	text-transform:uppercase;
	font-family:overpass-bold
}

.dripdrop-paragraph {
	font-family:overpass-light;
	font-size:1.0em;
	color:white;
	line-height:1.2;
}

/* To Navigation Style */
.codrops-top {
	background: #fff;
	background: rgba(255, 255, 255, 0.6);
	text-transform: uppercase;
	width: 100%;
	font-size: 0.69em;
	line-height: 2.2;
}

.codrops-top a {
	text-decoration: none;
	padding: 0 1em;
	letter-spacing: 0.1em;
	color: #888;
	display: inline-block;
}

.codrops-top a:hover {
	background: rgba(255,255,255,0.95);
	color: #333;
}

.codrops-top span.right {
	float: right;
}

.codrops-top span.right a {
	float: left;
	display: block;
}

.codrops-icon:before {
	font-family: 'codropsicons';
	margin: 0 4px;
	speak: none;
	font-style: normal;
	font-weight: normal;
	font-variant: normal;
	text-transform: none;
	line-height: 1;
	-webkit-font-smoothing: antialiased;
}

.codrops-icon-drop:before {
	content: "\e001";
}

.codrops-icon-prev:before {
	content: "\e004";
}

/* Demo Buttons Style */
.codrops-demos {
	padding-top: 1em;
	font-size: 0.9em;
}

.codrops-demos a {
	text-decoration: none;
	outline: none;
	display: inline-block;
	margin: 0.5em;
	padding: 0.7em 1.1em;
	border: 3px solid #b1aea6;
	color: #b1aea6;
	font-weight: 700;
}

.codrops-demos a:hover,
.codrops-demos a.current-demo,
.codrops-demos a.current-demo:hover {
	border-color: #89867e;
	color: #89867e;
}

@media screen and (max-width: 1025px) {
	.container > header {
		margin: 0 auto;
		padding: 120px 50px;
		font-size: 70%;
		text-align: right;
	}
}

@media screen and (max-width: 740px) {

	.codrops-icon span {
		display: none;
	}

	

}

/* 
  ##Device = Desktops
  ##Screen = 1281px to higher resolution desktops
*/

@media (min-width: 1281px) {
  
  
  
}

/* 
  ##Device = Laptops, Desktops
  ##Screen = B/w 1025px to 1280px
*/

@media (min-width: 1025px) and (max-width: 1280px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (portrait)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) {
  
  
  
}

/* 
  ##Device = Tablets, Ipads (landscape)
  ##Screen = B/w 768px to 1024px
*/

@media (min-width: 768px) and (max-width: 1024px) and (orientation: landscape) {
  
  
  
}

/* 
  ##Device = Low Resolution Tablets, Mobiles (Landscape)
  ##Screen = B/w 481px to 767px
*/

@media (min-width: 481px) and (max-width: 767px) {
  
  
  
}

/* 
  ##Device = Most of the Smartphones Mobiles (Portrait)
  ##Screen = B/w 320px to 479px
*/

@media (min-width: 320px) and (max-width: 480px) {
  
  	.main-container {
		margin-top: 100px;
	}
  
}
.clear{ 
clear:both;
}
